@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: var(--mobile);
    margin: auto;
    background-color: var(--black-modal);
    font-family: "Kumbh Sans", sans-serif;

    @media screen and (--desktop) {
        width: var(--desktop);

        .header {
            border-bottom: 3px solid var(--light-grayish-blue);
        }
    }
}

.container {
    background-color: var(--white);
}